


/* https://css-tricks.com/fun-viewport-units/ */
/* https:/stackoverflow.com/questions/20590239/maintain-aspect-ratio-of-div-but-fill-screen-width-and-height-in-css/36295495#20593342 */
:root {
    --yellow: #af8609;
}

body {
    background-color: black;
    margin: 0;
    height: 100vh;
    
  }
  
  .container {
    
    height: calc(100% - 55px); /* minus the height of the header+margin */
    position: relative;
  }

  header {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: darkgray 1px solid;
    margin-bottom: 15px;
    box-sizing: border-box;
  }

  header h1 {
    font-size: 1em;
    font-weight: 600;
  }

  .board {
    bottom: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    width: 100vw;
    height:  calc(6/5*100vw);
    max-height: 60vh;
    max-width: calc(5/6*60vh);
    margin: auto; 
  }
  
  .box {
    border: gray 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 3em; 
    padding: 0;
    margin: 0;
    font-weight: 200;
    font-family: sans-serif;
  }

  .box-container {
    color: white;
    aspect-ratio: 1 / 1;
    font-size: 3em; 
    padding: 0;
    margin: 0;
    font-weight: 200;
    font-family: sans-serif;
    position: relative;
    perspective: 1000;
  }

  .inner-box-container {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;  
  }
  
  .box-front-side, .box-back-side {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    border: solid rgb(72, 70, 70) 2px;
    box-sizing: border-box;
  }

  .box-back-side {
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
  }

  .box-front-side span, .box-back-side span {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .flip {
    transform: rotateX(180deg);
  }

  .keyboard {
    position: absolute;
    top: 70%;
    bottom:0;
    right:0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 4px;
    max-width: 900px;
    margin: 0 auto;
  }

  .keyboard button {
    color: black;
    font-size: 4vw;
  }

  @media only screen and (min-width: 1000px) {
    .keyboard button {
      font-size: 34px;
    }
  }

  .green {
    background-color: green;
    border-color: green;
  }

  .yellow {
    background-color: var(--yellow);
    border-color: var(--yellow);
  }

  .light-gray {
    background-color: #aaa3a3;
    border-color: #aaa3a3;

  }

  .dark-gray {
    background-color: #534c4c;
    border-color: #534c4c;
  }

  .you-lose, .you-win {
    z-index: 1000;
    visibility: hidden;
    position: absolute;
    right: 50%;
    transform: translate(50%, 50%);
    padding: 10%;
    border-radius: 5px;
  }

  .you-win {
    background-color: rgb(24, 187, 43);
    font-size: 2em;
    color: rgb(9, 8, 8);
    padding: 0px 30px;
  }

  .you-lose {
    background-color: white;
  }
  
  